.sidebar{
    min-height: 100vh;
    font-weight: normal;
    padding: 0;
    width: 244px;
    z-index: 11;
    background: #191c24;
}

.sidebar-brand-wrapper{
    width: 244px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;   
    background: #191c24;
    z-index: 5 !important;
}

.brand-logo{
    color: #38425e;
    color: white;
    font-size: 2rem;
    line-height: 48px;
    margin-right: 0;
    padding: 0rem 0rem 0rem 1.3rem;
    width: 100%;
    text-decoration: none;

}

.sidebar .nav{
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
    padding-top: 100px;
}

.sidebar .nav hr{
    margin:1rem 0;
    border-color: #6c7293;
}

.sidebar .nav .menu-items{
    padding-right: 20px;
}

.sidebar .nav, .menu-items .nav-link{
    position: relative;
}

.sidebar .nav .menu-items .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.8rem 10px 0.8rem 1.188rem;
    height: 46px;
    border-radius: 0px 100px 100px 0px;
    color: #6c7293;
}
.sidebar .nav .menu-items .active{
    background: #0f1015;
    color: white;
    border-left: 3px solid #0090e7;
}

.sidebar .nav .menu-items:nth-child(1) .nav-link .menu-icon i{
    color: #8f5fe8;
}

.sidebar .nav .menu-items .nav-link .menu-icon{
    margin-right: 1rem;
    font-size: 1rem;
    line-height: 1;
    background: rgba(108, 114, 147, 0.2);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar .nav .menu-items .nav-link .menu-title{
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1;
    vertical-align: middle;
}

